<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score</title>
</head>
<body>


<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file_slice"/>
    <input type="text" name="table" placeholder="table name"/>
    <input type="text" name="column" placeholder="column index"/>
    <input type="text" name="total" value="0" placeholder="total"/>
    <input type="text" name="slice" value="0" placeholder="slice"/>
    <input type="text" name="addr"  placeholder="address"/>
    <input type="text" name="test"  placeholder="test"/>

    <input type="submit"/>
</form>
</body>
</html>